<VirtualHost *:80>
  ServerName {{ vhost }}
  ServerAdmin webmaster@{{ vhost }}

  DocumentRoot {{ apache_root}}/{{ project_docroot }}
  <Directory {{ apache_root}}/{{ project_docroot }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Require all granted
  </Directory>

  CustomLog ${APACHE_LOG_DIR}/access_{{ vhost }}.log combined
  ErrorLog ${APACHE_LOG_DIR}/error_{{ vhost }}.log
  LogLevel warn
  ServerSignature Off
</VirtualHost>
